/* Basic setup strat*/
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: sans-serif, arial;
    height: 3000px;
}
html{
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

img {
    border: 0;
    cursor: pointer;
}

p {
    line-height: 150%;
}

.clear {
    overflow: hidden;
}
/* header area start */
.custom-color{
    background: #cfc6c6;

}
/* header area end */
.color{
    color: #E6B6C6;
}
.bg-gradiant{
    background-image: linear-gradient(red, green)
}
/* font-family: 'Roboto', sans-serif;
font-family: 'Hammersmith One', sans-serif;
font-family: 'Playfair Display', serif;*/