/* Basic setup strat*/
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: sans-serif, arial;
    height: 3000px;
}
html{
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

img {
    border: 0;
    cursor: pointer;
}

p {
    line-height: 150%;
}

.clear {
    overflow: hidden;
}
/* header area start */
.navbar-nav{
   
}
.navbar-nav .nav-link ul li a{
   color: red;
}
.custom-color{
    background: #cfc6c6;
}
/* header area end */
/* banner area start */
.slider-bg{
    background-color: #df97af;
    padding: 30px;
}
.slider-text{

}
.slider-text h2{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 60px;
    text-transform: capitalize;
    color: #555555;
}

.slider-text p{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;  
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 0px;
}
.slider-text h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: #ff247a;
    padding: 12px 0px;
}

.btn-custom{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #ffffff;
    font-size: 15px;
    background: #ff247a; 
    padding: 6px 15px;
    text-transform: uppercase;
    
}
.btn-custom:hover{
    color: #ffffff;  
}
.slider-image{
    padding: 20px 0px;
    width: 90%;
}
/* banner area end */
/* catagory part start */
.catagory{
   
}
.catageroy-wrap{
   padding-top: 30px;
}

.color{
    color: #E6B6C6;
}
.bg-gradiant{
    background-image: linear-gradient(#f6c261, #fea80a);
    border-radius: 8px;
    padding: 5px;
}
.bg-gradiant-a{
    background-image: linear-gradient(#e53886, #df80d2);
    border-radius: 8px;
    padding: 5px;
}
.bg-gradiant-b{
    background-image: linear-gradient(#382fe1, #6687f5);
    border-radius: 8px;
    padding: 5px;
}
.catageroy-wrap h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 42px;
    text-transform: capitalize;
    color: #ffffff;
}
.catagory-image img{
    padding-right: 30px;
    margin-left: 0px;
}
/* catagory part end */
/* shoe catagory part start */
.shoe-head{
    padding-top: 65px;
    font-family:'Roboto', sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-transform: capitalize;
}
.custom-card {
	background: #f4ecec;
	box-shadow: 5px 6px 12px #cccbcb;
}
.custom-card h5{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-transform: capitalize;
}
.custom-card p{
    padding-right: 3px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}
.custom-card h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 25px;
    padding: 6px 0px;
}


/* shoe catagory part end */


/* font-family: 'Roboto', sans-serif;
font-family: 'Hammersmith One', sans-serif;
font-family: 'Playfair Display', serif;*/