/* Basic setup strat*/
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: sans-serif, arial;
    height: 3000px;
}
html{
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

img {
    border: 0;
    cursor: pointer;
}

p {
    line-height: 150%;
}

.clear {
    overflow: hidden;
}
/* header area start */
.navbar-nav{
   
}
.navbar-nav .nav-link ul li a{
   color: red;
}
.custom-color{
    background: #cfc6c6;
}
/* header area end */
/* banner area start */
.slider-bg{
    background-color: #df97af;
    padding: 30px;
}
.slider-text{

}
.slider-text h2{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 60px;
    text-transform: capitalize;
    color: #555555;
}

.slider-text p{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;  
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 0px;
}
.slider-text h3{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 35px;
    color: #ff247a;
    padding: 12px 0px;
}

.btn-custom{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #ffffff;
    font-size: 15px;
    background: #ff247a; 
    padding: 6px 15px;
    text-transform: uppercase;
    
}
.btn-custom:hover{
    color: #ffffff;  
}
.slider-image{
    padding: 20px 0px;
    width: 90%;
}
/* banner area end */
.color{
    color: #E6B6C6;
}
.bg-gradiant{
    background-image: linear-gradient(red, green)
}
/* font-family: 'Roboto', sans-serif;
font-family: 'Hammersmith One', sans-serif;
font-family: 'Playfair Display', serif;*/